body {
    margin: 0;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    background-color: #1c1c21;
    padding: 10px;
    align-items: center;
}

.logo_div {
    margin: 10px 10px 10px 10%;
}

.navbar_ul {
    display: flex;
    color: #fff;
    font-weight: bold;
    margin-left: 10%;
}

.navbar_ul li {
    list-style-type: none;
    padding: 0 20px;
}

.navbar_ul li a {
    color: #fff;
}

.navbar_ul li a:hover , .r_btndiv a .loginbtn:hover{
    color: #f09d28;
}

.r_btndiv {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.loginbtn {
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.org_btn {
    padding: 10px;
    background-color: #f09d28;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}

.part01_box {
    background-color: #5db8a9;
    padding: 10px 15% 5% 15%;
}

.tit_box {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 5%;
    border-bottom: 1px solid #ffffff47;
}

.tit_box h6 {
    font-size: 19px;
    margin: 0;
}
.tit_box h1 {
    font-size: 61px;
    margin: 0 0 15px 0;
}

.ltext_rimg {
    display: flex;
}

.left_text {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
}

.right_img {
    width: 100%;
    padding: 10px;
}

.right_img img {
    max-width: 100%;
}

/*02*/
.part02_box {
    padding: 10px 15% 5% 15%;
}

.part02_box .tit_box {
    text-align: center;
}

.part02_box h1 {
    color: #1c1c21;
    font-size: 61px;
}

.img4_box {
    display: flex;
    flex-wrap: wrap;
}

.img_box {
    width: 30%;
    margin: 5% 0 15px 3%;
    text-align: center;
}

.img4_box img {
    max-width: 80%;
}

.img4_box h3 {
    font-size: 18px;
    font-weight: bold;
}
/*03*/
.part03_box {
    background-color: #f0ae1c;
    padding: 10px 15% 5% 15%;
}
/*04*/
.part04_box {
    background-color: #fff;
    margin: 10px 25% 5% 25%;
}
.part04_box .tit_box h1 {
    color: #1c1c21;
    font-size: 45px;
}
.part04_box .tit_box p {
    color: #1c1c21;
    font-size: 21px;
    text-align: left;
}
.img_w {
    width: 95%;
    margin: 10px;
    border: 3px solid #979797;
}
.img_w img {
    max-width: 100%;
}
.part04_box a {
    color: #f09d28;
    text-decoration: underline;
}

/*phone*/
@media screen and (max-width:1024px) { 
    .logo_div {
        margin: 10px 10px 10px 1%;
    }
    .navbar_ul {
        margin-left: 0;
    }
}